body 
{
	font-family: 'Lato', sans-serif;
	background-color: #343438;
	color: #FFF;
    padding: 0;
    margin: 0;
}

a 
{
	color: #9999FF;
}

.clearboth
{
	clear: both;
	height: 1px;
	line-height: 1px;
}

.hidden
{
	display: none;
}

.red
{
	color: #FF0000;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#container
{
	max-width: 800px;
    width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#twitter-widget-0
{
    margin-top: 0px;
    position: relative;
}

#twitter-right
{
    width: 220px;
    float: right;
    height: auto;  
}

#strava-connect
{
	float: right;
	margin-top: 5px;
}

#fileUpload
{
    float: right;
    clear: both;
    display: none;
}

.authenticatedStrava 
{
    
    text-align: left;
   
}

#slider
{
    font-size: 80%;
}

#stravaActivities
{
    padding: 20px;
    height: 150px;
    overflow-y: scroll;
    background-color: #454545;
}

#stravaActivities a
{
    color: #FF9900;
}

#dropTarget
{
	border: 1px dashed #0000FF;
	background-color: #FFF;
	padding: 20px;
	color: #000;
	margin-bottom: 20px;
}

#loading 
{
	visibility: hidden;
	padding: 5px;
	font-size: 80%;
}

#pano
{
	height: 400px;
	background-color: #000;
	border: 0px solid #FFF;
	overflow: hidden;
}


#pano-zoom
{
    position: absolute;
    top: 5px;
    right: 5px;
}

#controls
{
	padding: 8px;
	background-color: #444446;
	color: #FFF;
	display: none;
    height: 30px;
}

#controls button
{
	border: 0;
	color: #FFF;
	background: none;
}

#settings
{
	padding: 10px;
	background-color: #444446;
	text-align: left;
	display: none;
}

#settings label
{
	display: block; 
	width: 300px;
	padding: 4px;
	
}

#settings label input, #settings label select
{
	float: right;
}

#settings button
{
	float: right;
}

#footer
{
    background-color: #565656;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

